---
import Layout from '@layouts/Layout.astro';
import { getGameModes, getLastCompetitiveTiers } from '@api/query';
import GameModeCard from '@components/GameModeCard.astro';

const gameModes = await getGameModes();
const competitiveTiers = await getLastCompetitiveTiers();

const gameModesWithIcons = gameModes.filter(gameMode => gameMode.displayIcon !== null);
const competitiveTiersWithIcons = competitiveTiers.tiers.filter(tier => tier.tier > 2);
---

<Layout title="Info Valorant | Modalidades">
  <section class="max-w-[1920px] my-16 text-white-play mx-auto flex flex-col items-center justify-center">
    <h1 class="text-7xl font-semibold text-center mb-5 font-secondary">MODALIDADES</h1>
    <ul class="flex flex-col gap-y-6 mx-2">
      {
        gameModesWithIcons.map((gameMode, index) => 
          <GameModeCard
            index={index}
            displayName={gameMode.displayName}
            displayIcon={gameMode.displayIcon}
            description={gameMode.description}
          />
        )
      }
    </ul>
  </section>

  <section class="max-w-[1920px] my-16 text-white-play mx-auto flex flex-col items-center justify-center">
    <!-- Competitivo -->
    <h1 class="text-6xl font-semibold text-center mb-5 font-secondary">COMPETITIVO</h1>
    <p class="mx-5 max-w-4xl text-center text-sm lg:text-lg">El modo competitivo de VALORANT es un modo de juego que tiene las mismas reglas y formato que el modo fuera de la clasificatoria, pero con un enfoque en la competitividad de alto riesgo. En este modo, los jugadores pueden competir para subir de rango, saltar niveles y compararse frente a otros usuarios</p>

    <!-- Bento: Por hacer -->
  </section>

  <section class="max-w-7xl my-16 text-white-play mx-auto flex flex-col items-center justify-center">
    <!-- Rangos -->
    <h1 class="text-6xl font-semibold text-center mb-5 font-secondary">RANGOS</h1>
    <ul class="max-w-md sm:max-w-lg lg:max-w-xl flex flex-wrap gap-8 py-5 justify-center">
      {
        competitiveTiersWithIcons.map((tier) => 
          { 
            return (
              <li class="flex flex-col items-center gap-2">
                <img
                  class="w-24 h-24 sm:w-28 sm:h-28 lg:w-36 lg:h-36"
                  src={tier.largeIcon}
                  alt={tier.divisionName}
                />
                <p class="text-xl sm:text-3xl lg:text-4xl font-secondary">{tier.tierName}</p>
              </li>
            )
          }
        )
      }
    </ul>
  </section>
</Layout>