---
import Anchor from '@components/Anchor.astro'
import Footer from '@components/Footer.astro'

const ROUTES = [
  {
    label: 'AGENTES',
    href: '/agentes',
    available: true
  },
  {
    label: 'CONTENIDO',
    href: '/contenido',
    available: true
  },
  {
    label: 'INICIO',
    href: '/',
    available: true
  },
  {
    label: 'MODALIDADES',
    href: '/modalidades',
    available: true
  },
  {
    label: 'STATS',
    href: '/stats',
    available: false
  }
]
---
<header class="bg-black-play py-6 px-12 text-white flex justify-between items-center lg:block lg:px-4">
  <!-- Vista web -->
  <nav 
    class="max-w-5xl mx-auto bg-gray-700 bg-opacity-40 hidden lg:flex lg:justify-center" 
    style="clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);"
  >
    {
      ROUTES.map(({ label, href, available }) => <Anchor href={href} label={label} available={available} isHome={href === '/'} />) 
    }
  </nav>

  <!-- Vista móvil -->
  <img
    class="w-28 lg:hidden" 
    src="/logo-header.webp"
    alt="Logo de Valorant en Móviles" 
  >
  <button class="text-7xl w-9 h-9 flex flex-col justify-center cursor-pointer lg:hidden">
    <span class="span-to-move transition-all duration-300 bg-white w-9 h-1 translate-y-4"></span>
    <span class="opacity-100 transition-all duration-300 bg-white w-9 h-1"></span>
    <span class="span-to-move transition-all duration-300 bg-white w-9 h-1 -translate-y-4"></span>
  </button>

  <!-- Menú modal -->
  <div 
    id="menu-modal"
    class="min-h-dvh opacity-0 inset-0 -z-10 transition-all flex flex-col items-center pt-5 bg-black-play overflow-hidden fixed duration-400 lg:hidden overflow-y-auto ">
    <aside class="py-6 px-12 flex justify-between w-full items-center">
      <p class="font-primary text-3xl w-full">MENÚ</p>
      <button class="text-7xl w-9 h-9 flex flex-col justify-center cursor-pointer lg:hidden">
        <span class="span-to-move transition-all duration-300 bg-white w-9 h-1 translate-y-4"></span>
        <span class="opacity-100 transition-all duration-300 bg-white w-9 h-1"></span>
        <span class="span-to-move transition-all duration-300 bg-white w-9 h-1 -translate-y-4"></span>
      </button>
    </aside>
    
    <img 
      class="w-52" 
      src="/logo-label.webp" 
      alt="Logo de Valorant en el menú modal"
    />
    
    <hr class="bg-red-play w-full h-1 mt-3 border-red-play">
    <nav class="w-full flex flex-col items-center m-0">
      <a class="w-full py-4 font-bold hover:bg-white hover:text-black transition-all duration-200 text-xl text-center" href="/">
        INICIO
      </a>
      {
        ROUTES.map(({ label, href, available }) => 
         label !== 'INICIO' && 
          <a 
            class={`w-full py-4 font-bold hover:bg-white hover:text-black transition-all duration-200 text-xl text-center flex justify-center items-center gap-x-3 ${available ? '' : 'pointer-events-none'}`} 
            href={href}
          >
            <p>{label}</p>
            <span class="text-red-play text-[10px]">{available ? '' : 'PRÓXIMAMENTE'}</span>
          </a>
        )
      }
    </nav>
    <Footer />
  </div>

</header>

<style>
  #menu-modal {
    scrollbar-width: none;
  }
</style>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    let isOpen = false
    const btnsToMenu = document.querySelectorAll('header button')
    const spansToMove = document.querySelectorAll('button .span-to-move')
    const spansStatic = document.querySelectorAll('button span:not(.span-to-move)')
    const menuModal = document.getElementById('menu-modal')

    btnsToMenu.forEach((btnToMenu) => {
        btnToMenu.addEventListener('click', () => {
        // Rotación de las barras
        spansToMove.forEach((span, index) => {
          span.style.transform = isOpen ? '' : (index % 2 === 0 ? 'rotate(-45deg) translateY(-8px) translateX(8px)' : 'rotate(45deg) translateY(8px) translateX(8px)')
        })

        spansStatic.forEach(span => {
          span.style.opacity = isOpen ? '1' : '0'
        })

        // Quitar o mostrar el menú para móviles
        menuModal.style.opacity = isOpen ? '0' : '1'
        menuModal.style.zIndex = isOpen ? '-10' : '30'

        // Cambio de estado
        isOpen = !isOpen
      })
    })
  })
</script>