---
interface Props {
  displayName: string;
  displayIcon: string;
  uuid: string;
}

const { displayName, displayIcon, uuid } = Astro.props
---
<a
  class="relative w-full px-6 py-12 rounded-lg flex flex-col items-center border bg-slate-900 hover:text-red-play transition group"
  href={`/contenido/arma/${displayName.toLowerCase()}`} 
>
  <h2 class="absolute bottom-0 right-0 pr-5 pb-2 z-20 font-primary text-2xl font-bold">{displayName.toUpperCase()}</h2>
  <img
    src={displayIcon} 
    alt={displayName}
    class="w-64 h-20 sm:w-72 sm:h-24 lg:w-96 lg:h-28 object-contain transition-all group-hover:scale-110 group-hover:rotate-12"
    transition:name={`weapon-image-${uuid}`}  
  />
</a>
